<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "path/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.member.mapper.MemberMapper">

	<select id="getUser" resultType="co.yedam.member.service.MemberVO">
		select * from member where mid=#{id} and pass=#{pw}
	</select>
	
	<select id="list" resultType="co.yedam.member.service.MemberVO">
		select * from member
	</select>
	
	<select id="select" resultType="co.yedam.member.service.MemberVO">
		select * from member where = #{mid }
	</select>
	
	<insert id="insert" parameterType="co.yedam.member.service.MemberVO">
		insert into member(mid,name,pass,ssn,phone,email) values(#{mid}, #{name}, #{pass}, #{ssn} ,#{phone},#{email})
	</insert>


</mapper>