<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">


<mapper namespace="co.yedam.payment.mapper.PaymentMapper">

	<insert id="insert" parameterType="co.yedam.payment.service.PaymentVO">
		insert into paymentform
		values(#{fcode},#{pid},#{adcnt},#{chcnt})
	</insert>

</mapper>