<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.payment.mapper.PaymentMapper">

	<insert id="insert"
		parameterType="co.yedam.payment.service.PaymentVO">
		insert into payment
		values(#{pid},seq_payment.nextval,#{adcnt}, #{chcnt}, #{fcode}, #{merchantUid})
	</insert>

	<select id="paymentList"
		resultType="co.yedam.payment.service.PaymentVO" parameterType="string">
		select * from payment p left join festival f on p.fcode = f.fcode
		where pid =#{mid}
		ORDER BY pno
	</select>

</mapper>
