<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.qna.mapper.QnaMapper">

	<select id="selectList"
		resultType="co.yedam.qna.service.QnaVO">
		select * from qna
<!-- 			<![CDATA[
		select *
		from(
		select /*+INDEX(r qna_pk)*/ rownum rn, r.*
		from qna r
		)a
		where a.rn > (#{page}-1)*5
		and a.rn <= (#{page})*5
		]]> -->
		 
	</select>

	<select id="select"
		resultType="co.yedam.qna.service.QnaVO" parameterType="int">
		select * from qna where qno = #{seq_qno}
	</select>
	
	<insert id="insert"
		parameterType="co.yedam.qna.service.QnaVO">
		insert into qna(qno, qid, qtitle, qcontent,  qpass)
		values (seq_qno.nextval, #{qid},#{qtitle},#{qcontent}, #{qpass})
	</insert>

	<update id="update"
		parameterType="co.yedam.qna.service.QnaVO">
		update qna set qtitle=#{qtitle}, qcontent=#{qcontent}, qpass=#{qpass} where qno=#{qno}
	</update>


	<delete id="delete" parameterType="int">
		delete from qna where qno=#{seq_qno}
	</delete>
	
	<select id="getTotalCnt" resultType="int">
		select count(*) from qna
		
	</select>











</mapper>