<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">


<mapper namespace="co.yedam.festival.mapper.FestivalMapper">

   <select id="festivalList"
      resultType="co.yedam.festival.service.FestivalVO">
      select *from festival
      order by fsdate

   </select>
   <select id="dayList"
      resultType="co.yedam.festival.service.FestivalVO"
      parameterType="string">
      select *from festival
      where #{day} between fsdate and fedate
   </select>

   <select id="festival"
      resultType="co.yedam.festival.service.FestivalVO"
      parameterType="string"> select * from festival where fcode=#{fcode}
   </select>
   
   
   <select id="selectLike" resultType="co.yedam.festival.service.FestivalVO" parameterType="string">
	  <![CDATA[  
	   select * from (select * from 
           (SELECT *
           FROM festival
           where likeit >=4)
           ORDER BY dbms_random.value
           ) b
           where rownum <= 3 and fcode != #{fno}
   	]]>
	</select>
  
</mapper>
   