<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">


<mapper namespace="co.yedam.festival.mapper.festivalMapper"> 

	<select id="festivalList" resultType="co.yedam.festival.service.FestivalVO">     
		select *from festival
	</select>
	dfsdfasd
	
	<select id="datefestivalList" resultType="co.yedam.festival.service.FestivalVO">     
		select *from festival 
	</select>
	

	</mapper>
	